* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #ffffff;
}

/* .scroll-spacer {
    height: 200vh;
    pointer-events: none;
} */

canvas.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
    background: transparent;
}
